{"openapi": "3.0.0", "info": {"title": "Member Information API", "description": "API for managing CareSource member information.", "version": "1.2.0", "contact": {"name": "CareSource API Support", "email": "support@caresource.com"}}, "servers": [{"url": "https://api.caresource.com", "description": "CareSource API server"}], "paths": {"/members/{memberId}": {"get": {"summary": "Get Member Information", "description": "Retrieve detailed information about a CareSource member using their unique ID.", "operationId": "getMemberInfo", "parameters": [{"name": "memberId", "in": "path", "required": true, "description": "The unique identifier of the CareSource member.", "schema": {"type": "string"}}], "responses": {"200": {"description": "Member information retrieved successfully.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Member"}, "example": {"id": "12345", "name": "John Doe", "dob": "1985-02-15", "plan": "Gold", "status": "Active"}}}}, "404": {"description": "Member not found.", "content": {"application/json": {"example": {"error": "Member with ID 12345 not found."}}}}}}, "put": {"summary": "Update Member Information", "description": "Update specific details of a CareSource member using their unique ID.", "operationId": "updateMemberInfo", "parameters": [{"name": "memberId", "in": "path", "required": true, "description": "The unique identifier of the CareSource member.", "schema": {"type": "string"}}], "requestBody": {"description": "Updated information for the member.", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Member"}, "example": {"name": "Jane Doe", "plan": "Silver"}}}}, "responses": {"200": {"description": "Member information updated successfully.", "content": {"application/json": {"example": {"message": "Member 12345 updated successfully."}}}}, "400": {"description": "Invalid input provided.", "content": {"application/json": {"example": {"error": "Invalid member information provided."}}}}}}, "patch": {"summary": "Partially Update Member Information", "description": "Update specific details of a CareSource member using their unique ID.", "operationId": "patchMemberInfo", "parameters": [{"name": "memberId", "in": "path", "required": true, "description": "The unique identifier of the CareSource member.", "schema": {"type": "string"}}], "requestBody": {"description": "Partial updates to member information.", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Member"}, "example": {"plan": "Bronze"}}}}, "responses": {"200": {"description": "Member information updated successfully.", "content": {"application/json": {"example": {"message": "Member 12345 partially updated."}}}}, "400": {"description": "Invalid input provided.", "content": {"application/json": {"example": {"error": "Invalid member information provided."}}}}}}, "delete": {"summary": "Delete Member Information", "description": "Delete a CareSource member using their unique ID.", "operationId": "deleteMemberInfo", "parameters": [{"name": "memberId", "in": "path", "required": true, "description": "The unique identifier of the CareSource member.", "schema": {"type": "string"}}], "responses": {"204": {"description": "Member deleted successfully."}, "404": {"description": "Member not found.", "content": {"application/json": {"example": {"error": "Member with ID 12345 not found."}}}}}}}}, "components": {"schemas": {"Member": {"type": "object", "properties": {"id": {"type": "string", "description": "Unique ID of the member."}, "name": {"type": "string", "description": "Full name of the member."}, "dob": {"type": "string", "description": "Date of birth of the member."}, "plan": {"type": "string", "description": "The health plan of the member."}, "status": {"type": "string", "description": "The current status of the member's plan (e.g., Active, Inactive)."}}}}}}